@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-BlackItalic.eot');
    src: url('./fonts/Prompt-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-BlackItalic.woff2') format('woff2'),
        url('./fonts/Prompt-BlackItalic.woff') format('woff'),
        url('./fonts/Prompt-BlackItalic.ttf') format('truetype'),
        url('./fonts/Prompt-BlackItalic.svg#Prompt-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Black.eot');
    src: url('./fonts/Prompt-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-Black.woff2') format('woff2'),
        url('./fonts/Prompt-Black.woff') format('woff'),
        url('./fonts/Prompt-Black.ttf') format('truetype'),
        url('./fonts/Prompt-Black.svg#Prompt-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Bold.eot');
    src: url('./fonts/Prompt-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-Bold.woff2') format('woff2'),
        url('./fonts/Prompt-Bold.woff') format('woff'),
        url('./fonts/Prompt-Bold.ttf') format('truetype'),
        url('./fonts/Prompt-Bold.svg#Prompt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-ExtraBoldItalic.eot');
    src: url('./fonts/Prompt-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-ExtraBoldItalic.woff2') format('woff2'),
        url('./fonts/Prompt-ExtraBoldItalic.woff') format('woff'),
        url('./fonts/Prompt-ExtraBoldItalic.ttf') format('truetype'),
        url('./fonts/Prompt-ExtraBoldItalic.svg#Prompt-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-ExtraBold.eot');
    src: url('./fonts/Prompt-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-ExtraBold.woff2') format('woff2'),
        url('./fonts/Prompt-ExtraBold.woff') format('woff'),
        url('./fonts/Prompt-ExtraBold.ttf') format('truetype'),
        url('./fonts/Prompt-ExtraBold.svg#Prompt-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-BoldItalic.eot');
    src: url('./fonts/Prompt-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-BoldItalic.woff2') format('woff2'),
        url('./fonts/Prompt-BoldItalic.woff') format('woff'),
        url('./fonts/Prompt-BoldItalic.ttf') format('truetype'),
        url('./fonts/Prompt-BoldItalic.svg#Prompt-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-LightItalic.eot');
    src: url('./fonts/Prompt-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-LightItalic.woff2') format('woff2'),
        url('./fonts/Prompt-LightItalic.woff') format('woff'),
        url('./fonts/Prompt-LightItalic.ttf') format('truetype'),
        url('./fonts/Prompt-LightItalic.svg#Prompt-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-ExtraLightItalic.eot');
    src: url('./fonts/Prompt-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-ExtraLightItalic.woff2') format('woff2'),
        url('./fonts/Prompt-ExtraLightItalic.woff') format('woff'),
        url('./fonts/Prompt-ExtraLightItalic.ttf') format('truetype'),
        url('./fonts/Prompt-ExtraLightItalic.svg#Prompt-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Medium.eot');
    src: url('./fonts/Prompt-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-Medium.woff2') format('woff2'),
        url('./fonts/Prompt-Medium.woff') format('woff'),
        url('./fonts/Prompt-Medium.ttf') format('truetype'),
        url('./fonts/Prompt-Medium.svg#Prompt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-MediumItalic.eot');
    src: url('./fonts/Prompt-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-MediumItalic.woff2') format('woff2'),
        url('./fonts/Prompt-MediumItalic.woff') format('woff'),
        url('./fonts/Prompt-MediumItalic.ttf') format('truetype'),
        url('./fonts/Prompt-MediumItalic.svg#Prompt-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Regular.eot');
    src: url('./fonts/Prompt-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-Regular.woff2') format('woff2'),
        url('./fonts/Prompt-Regular.woff') format('woff'),
        url('./fonts/Prompt-Regular.ttf') format('truetype'),
        url('./fonts/Prompt-Regular.svg#Prompt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Light.eot');
    src: url('./fonts/Prompt-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-Light.woff2') format('woff2'),
        url('./fonts/Prompt-Light.woff') format('woff'),
        url('./fonts/Prompt-Light.ttf') format('truetype'),
        url('./fonts/Prompt-Light.svg#Prompt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-ExtraLight.eot');
    src: url('./fonts/Prompt-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-ExtraLight.woff2') format('woff2'),
        url('./fonts/Prompt-ExtraLight.woff') format('woff'),
        url('./fonts/Prompt-ExtraLight.ttf') format('truetype'),
        url('./fonts/Prompt-ExtraLight.svg#Prompt-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Italic.eot');
    src: url('./fonts/Prompt-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-Italic.woff2') format('woff2'),
        url('./fonts/Prompt-Italic.woff') format('woff'),
        url('./fonts/Prompt-Italic.ttf') format('truetype'),
        url('./fonts/Prompt-Italic.svg#Prompt-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Thin.eot');
    src: url('./fonts/Prompt-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-Thin.woff2') format('woff2'),
        url('./fonts/Prompt-Thin.woff') format('woff'),
        url('./fonts/Prompt-Thin.ttf') format('truetype'),
        url('./fonts/Prompt-Thin.svg#Prompt-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-SemiBoldItalic.eot');
    src: url('./fonts/Prompt-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-SemiBoldItalic.woff2') format('woff2'),
        url('./fonts/Prompt-SemiBoldItalic.woff') format('woff'),
        url('./fonts/Prompt-SemiBoldItalic.ttf') format('truetype'),
        url('./fonts/Prompt-SemiBoldItalic.svg#Prompt-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-ThinItalic.eot');
    src: url('./fonts/Prompt-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-ThinItalic.woff2') format('woff2'),
        url('./fonts/Prompt-ThinItalic.woff') format('woff'),
        url('./fonts/Prompt-ThinItalic.ttf') format('truetype'),
        url('./fonts/Prompt-ThinItalic.svg#Prompt-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-SemiBold.eot');
    src: url('./fonts/Prompt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prompt-SemiBold.woff2') format('woff2'),
        url('./fonts/Prompt-SemiBold.woff') format('woff'),
        url('./fonts/Prompt-SemiBold.ttf') format('truetype'),
        url('./fonts/Prompt-SemiBold.svg#Prompt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html, body{
    font-family: 'Prompt', sans-serif !important;
}

.apexcharts-tooltip {
    background: #202938;
    color: #fff;
}

.content-wrapper .card{
    background-color: #111727;
    -webkit-box-shadow: 1px 1px 2px 1px rgb(29 28 28 / 8%);
    box-shadow: 1px 1px 2px 1px rgb(29 28 28 / 8%);
    border: 1px solid rgba(36, 105, 92, 0.2);
}


.content-wrapper .card .card-body{
    background-color: transparent;
}

.btn-ghost:hover, .btn-ghost.btn-active{
    background-color: rgba(217, 127, 61, 0.1);
}

.bg-primary-light {
    background-color: rgba(217, 127, 61, 0.1);
}

.bg-primary-light:hover a{
    color: #fff;
}

.rounded-circle {
    border: 10px solid rgba(217, 127, 61, 0.2);
}

.breadcrumbs > ul > li a:hover{
    background-color: transparent;
}

.breadcrumbs > ul > li + *:before{
    content: '/';
    border: 0;
    margin-top: -10px;
    transform: unset;
}

.invalid-feedback, .is-invalid {
    color: #fd2e64;
}

label span.required{
    color: #fd2e64;
}